@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');


:root {
  --color-background: #0a192f;
  --color-background-alt: #162d53;
  --color-foreground: #000000;
  --color-muted: #8892b0;
  /* gray-600 */
  --color-cyan: rgb(103, 232, 249);
  /* blue-600 */
}

.light {
  --color-background: #fff;
  --color-foreground: #000;
  --color-muted: #8892b0;
  --color-test: #ff0000;
}

.dark {
  --color-background: #0a192f;
  --color-foreground: #ffffff;
  --color-muted: #2e4161;
  /* gray-400 */
  --color-accent: #3b82f6;
  /* blue-400 */
}

@layer base {
  body {
    @apply font-raleway;
  }
}

html,
body {
  overflow-y: auto;
  /* instead of auto/scroll/hidden */
}


.card::before,
.card::after {
  content: "";
  border-radius: inherit;
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 500ms;
  z-index: 1;
}

.card:hover::before {
  opacity: 1;
  background: radial-gradient(800px circle at var(--mouse-x) var(--mouse-y),
      rgba(255, 255, 255, 0.06),
      transparent 40%);
}

.card:hover::after {
  opacity: 1;
  background: radial-gradient(600px circle at var(--mouse-x) var(--mouse-y),
      rgb(255, 255, 255),
      transparent 40%);
}

.glow-card::before,
.glow-card::after {
  content: "";
  border-radius: inherit;
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 500ms;
  z-index: 20;
}

.glow-card:hover::before {
  opacity: 1;
  background: radial-gradient(800px circle at var(--mouse-x) var(--mouse-y),
      rgba(255, 255, 255, 0.06),
      transparent 40%);
}

.glow-card:hover::after {
  opacity: 1;
  background: radial-gradient(600px circle at var(--mouse-x) var(--mouse-y),
      rgba(255, 255, 255, 0.4),
      transparent 40%);
}

.dark .glow-card:hover::before {
  background: radial-gradient(800px circle at var(--mouse-x) var(--mouse-y),
      rgba(255, 255, 255, 0.06),
      transparent 40%);
}

.dark .glow-card:hover::after {
  background: radial-gradient(600px circle at var(--mouse-x) var(--mouse-y),
      rgba(255, 255, 255, 0.74),
      transparent 40%);
}